h1{
    color: rgb(111, 46, 57);
    text-align: center;
 margin-top: 30px;
}
h3{
    color: rgb(89, 0, 15);
    text-align: center;
}
p{
    color: rgb(112, 70, 77);
    margin-left: 30px;
    margin-right: 30px;
}
h1 h2 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}